/* Meta partials */
/* Colors */
/* Fonts */
/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Section partials */
/* Document styles */
html {
  font-family: "Open Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
  position: relative;
  height: 100vh;
}

/* Background */
.background {
  background: url("/images/background.jpg") no-repeat center left/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  bottom: 0;
}

.logo-wrapper {
  font-family: "Times New Roman";
  color: #eee;
  background: rgba(0, 0, 0, 0.5);
  padding: 5vh 0;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo-wrapper .logo-svg {
  fill: currentColor;
  width: 70px;
  height: 70px;
}

.logo-wrapper p {
  font-size: 64px;
  font-weight: bold;
}

.attribution {
  color: #ddd;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 16px;
}

.attribution:hover {
  color: #bbb;
}

/* Content */
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40%;
  background: #f5f5f5;
}

/* Use clamp() for responsive typography */
.content-header {
  padding: 15vh 6vw 0;
  font-size: clamp(1.25rem, 2vw, 1.375rem);
  font-weight: 500;
}

.content-header h2 {
  font-size: clamp(1.375rem, 2vw, 1.5rem);
  margin-bottom: 8px;
}

.content main {
  position: absolute;
  width: 100%;
  top: 32.5vh;
}

/* Form */
.content form .white-background {
  background: #ffffff;
  padding: 2vh 6vw;
}

.content form h2 {
  margin-bottom: 1rem;
}

.content .form-row {
  display: flex;
  gap: 4rem;
}

.content .form-row:not(:last-child) {
  margin-bottom: 1rem;
}

.content .form-control label {
  font-size: 0.8rem;
  font-weight: 600;
}

/* Reset default styles */
.content .form-control {
  width: 300px;
}

.content .form-control input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  outline: none;
}

.content .form-control input {
  width: 100%;
  display: block;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.content .form-control input[type=password]::-moz-placeholder {
  font-size: 0.625rem;
}

.content .form-control input[type=password]::placeholder {
  font-size: 0.625rem;
}

.content .form-control .error {
  color: red;
}

.content .form-control input:focus {
  border: 1px solid #3b90e1;
}

.content .form-control input.valid {
  border: 1px solid #1fd655;
}

.content .form-control input.invalid {
  border: 1px solid #f46d75;
}

.content button[type=submit] {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  background: #dfb099;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 12px 32px;
  border: none;
  border-radius: 5px;
  margin: 3vh 0 0 6vw;
  transition: 0.5s filter;
}

.content .login {
  font-size: 0.875rem;
  margin: 24px 0 0 6vw;
}

.content .login .login-link {
  text-decoration: none;
  font-weight: bold;
  color: #dfb099;
}/*# sourceMappingURL=main.css.map */