:root {
  /* Colors */
  --logo-color: #eee;
  --logo-overlay-background-color: rgba(0, 0, 0, 0.5);

  --attribution-text-color: #ddd;
  --attribution-text-color-hover: #bbb;

  --content-background-color: #f5f5f5;
  --form-background-color: #ffffff;
  --form-input-border-color: #ddd;
  --form-input-border-color-focus: #3b90e1;
  --form-input-border-color-error: #f46d75;

  --submit-btn-text-color: #ffffff;
  --submit-btn-background-color: #dfb099;
  --submit-btn-box-shadow: rgba(0, 0, 0, 0.4);

  --login-text-color: #dfb099;

  /* Fallback system font stack */
  --primary-font: 'Open Sans';
  --logo-font: 'Times New Roman';
  --system-fonts: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--primary-font, --system-fonts);
}

.wrapper {
  position: relative;
  height: 100vh;
}

/* Background */

.background {
  background: url('./../images/background.jpg') no-repeat center left / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  bottom: 0;
}

.logo-wrapper {
  font-family: var(--logo-font);
  color: var(--logo-color);
  background: var(--logo-overlay-background-color);
  padding: 5vh 0;
  margin-top: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo-wrapper .logo-svg {
  fill: currentColor;
  width: 70px;
  height: 70px;
}

.logo-wrapper p {
  font-size: 64px;
  font-weight: bold;
}

.attribution {
  color: var(--attribution-text-color);
  text-align: center;
  text-decoration: none;

  position: absolute;
  right: 0;
  left: 0;
  bottom: 16px;
}

.attribution:hover {
  color: var(--attribution-text-color-hover);
}

/* Content */

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40%;
  background: var(--content-background-color);
}

/* Use clamp() for responsive typography */

.content-header {
  padding: 15vh 6vw 0;

  font-size: clamp(1.25rem, 2vw, 1.375rem);
  font-weight: 500;
}

.content-header h2 {
  font-size: clamp(1.375rem, 2vw, 1.5rem);
  margin-bottom: 8px;
}

/* Main */

.content main {
  position: absolute;
  width: 100%;
  top: 32.5vh;
}

.content form .white-background {
  background: var(--form-background-color);
  padding: 2vh 6vw;
}

.content form h2 {
  margin-bottom: 1rem;
}

.content .form-row {
  display: flex;
  gap: 4rem;
}

.content .form-row:not(:last-child) {
  margin-bottom: 1rem;
}

.content .form-control label {
  font-size: 0.8rem;
  font-weight: 600;
}

/* Reset default styles */

.content .form-control input {
  appearance: none;
  font-family: inherit;
  outline: none;
}

.content .form-control input {
  display: block;
  width: 250px;
  padding: 6px 12px;
  border: 1px solid var(--form-input-border-color);
  border-radius: 3px;
}

.content .form-control input:focus {
  border: 1px solid var(--form-input-border-color-focus);
}

.content .form-control input.error {
  border: 1px solid var(--form-input-border-color-error);
}

.content button[type='submit'] {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--submit-btn-text-color);
  background: var(--submit-btn-background-color);
  box-shadow: 0 2px 4px var(--submit-btn-box-shadow);

  padding: 12px 32px;
  border: none;
  border-radius: 5px;
  margin: 3vh 0 0 6vw;
  transition: 0.5s filter;
}

.content .login {
  font-size: 0.875rem;
  margin: 24px 0 0 6vw;
}

.content .login .login-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--login-text-color);
}
