:root {
  --logo-color: #eee;
  --logo-overlay-background-color: rgba(0, 0, 0, 0.5);
  --attribution-text-color: #ddd;
  --attribution-text-color-hover: #bbb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100vh;
}

/* Background */

.background {
  background: url('./../images/background.jpg') no-repeat center left / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  bottom: 0;
}

.logo-wrapper {
  color: var(--logo-color);
  background: var(--logo-overlay-background-color);
  padding: 5vh 0;
  margin-top: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo-wrapper .logo-svg {
  fill: currentColor;
  width: 70px;
  height: 70px;
}

.logo-wrapper p {
  font-size: 64px;
  font-weight: bold;
}

.attribution {
  color: var(--attribution-text-color);
  text-align: center;
  text-decoration: none;

  position: absolute;
  right: 0;
  left: 0;
  bottom: 16px;
}

.attribution:hover {
  color: var(--attribution-text-color-hover);
}
