/* Colors */

$logo-clr: #eee;
$logo-overlay-bg-clr: rgba(0, 0, 0, 0.5);

$attribution-clr: #ddd;
$attribution-clr-hover: #bbb;

$content-bg-clr: #f5f5f5;

$form-bg-clr: #ffffff;
$form-input-border-clr: #ddd;
$form-input-border-clr-focus: #3b90e1;
$form-input-border-clr-error: #f46d75;

$submit-btn-clr: #ffffff;
$submit-btn-bg-clr: #dfb099;
$submit-btn-box-shadow: rgba(0, 0, 0, 0.4);

$login-clr: #dfb099;

/* Fonts */

$primary-font: 'Open Sans';
$logo-font: 'Times New Roman';
$system-font-stack: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
